/tabs at the top of page if logged in as admin (a user object)

%h1 Admin Dashboard
%ul
  %li= link_to "Manage Articles", articles_path
  /%li =link_to "Manage Authors- Bring a New Chef to the Kitchen", chefs_path
  %li= link_to "Manage Quotes", quotes_path
  / Add a Dash of Wisdom to the Mix