/home page of the website where viewers can see the most recent 4-5 articles, a few choice quotes, the names of the editors/people of import, and other little tidbits
/publicly viewable

.frontcontainer
  %div.col1
    %div.col-cont
      %div.frontpage
        %span.front-container  
          %h2 Specialties of the Day
      =render @articles.reverse
      -if current_user
        =link_to "Add Article", new_article_path
  %div.col2
    %div.col-cont
      %div.frontpage
        %span.front-container
          %h2 Niblets
      =render @quotes
      -if current_user
        =link_to "Add Quote", new_quote_path
  %div.col3  
    %div.col-cont
      %div.frontpage
        %span.front-container
          %h2 Local Favorites
      =render @favorites

%span.clear
%footer
  =image_tag("nokeystone.png", :alt => "No Keystone")
  %p To book reservations of 10 or more, please email us at Mouth@gmail.com
  .link=link_to "ARCHIVES", archives_path