/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-star-rating
 *= require_tree .
*/

/* I am terrible at css, still don't get the basic structure of it,
so all stylesheets get the job done, but are very "hacky" and ad hoc.
There are some SASS files, that sort of follow the object-file relationship.
i.e. there is styling stuff in 'articles.css.scss' that applies only to articles file sturcture
styling stuff in this file is either for global styles or front page stylings 
'scaffolds.css.scss' also has global stylings */ 




body{ 
	background-color: #f5f1e5;
	color: #302207;
	height: 100%;
}
html{
	background-color: #f5f1e5;
}

p,a{
	background-color: #f5f1e5;
}
.bar ul{
	height: 20px;
	list-style-type:none;
}
header{
	border-bottom: 2px solid #4f3f1d;
	margin-bottom: 10px;
}
header li{
	
}
.toolbar{	
	height: 40px;
	z-index: 5;
}
nav{

}
nav ul{
	background: #fff;
	margin-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
	/*border: solid 3px #7dff7d;*/
}
nav li {
	display: inline-block;
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	padding:2	px;
}

nav a {
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding: 5px;
}
#container{
	width:970px;
	margin: 0 auto;
	height: 100%;
}
a{text-decoration:none}

div.frontpage{
	text-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
span.front-container{
	border-bottom: 2px dotted #302207;
	padding-bottom: 5px;
	margin: 0 auto;
	display: inline-block;
}
h2{
	
	display:inline;
	margin-bottom: 5px;
}

/*FRONT PAGE*/
/*----------*/

.col-cont{
	padding-right:10px;
	padding-left:10px;
}
.col1{
	float:left;
	width:33%;
/*	margin-bottom:10px;
	margin-right: 50px;
	background: #fff;
	padding-left:40px;
	padding-top:40px;*/
}
.col2{
	float:left;
	width: 33%;
/*	background: #fff;
	padding:40px;*/
}
.col3{
	float:left;
	width:33%;
}

/*overflow:auto and setting width and height clears the floats that are in this container.
it's like a clear:both situation*/
.frontcontainer{
	overflow:auto;
	display:block;
	margin:0 auto;
	width: 100%;
	height: 100%;
}


footer{
	margin-top: 15px;
	padding-top: 15px;
	border-top: 2px solid #4f3f1d;
}
footer p{
	text-align:center;
}
footer img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
div.link a{
	display:block;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}
span.clear{
	clear:both;
}

.large_link{
	font-size: 150%;
	color: #4f3f1d;
	text-decoration: underline;
}