// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article{
  .title{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
  }
  .blurb{
    margin-bottom: 10px;
  }
}
div.masthead{
	border-bottom: 1px solid #302207;
  height: 180px;
}
.masthead-content{
  img{
    float:right;
  }
  h2{
    clear:both;
    float:right;
    margin: 0;
    margin-right: 30px;
  }	
}

.article-col1{
  float:left;
  width: 65%;
}
.article-col2{
  float:left;
  width: 35%;
}





.archive{
  td{
    padding-right: 30px;
  }
}

.article_list{
  div.list_item{
    float:none;
    width: 540px;
    margin-bottom: 20px;
  }
  a{
    font-size: 1.15em;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    color: #26466D;
  }
  p{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
.author-date{
  font-size: 80%;
  color: #545454;
}














